frontend_svelte/.env
frontend_svelte/package-lock.json
frontend_svelte/yarn.lock
frontend_svelte/.svelte-kit/ambient.d.ts
frontend_svelte/.svelte-kit/generated/client/nodes/3.js
frontend_svelte/.svelte-kit/generated/client/nodes/4.js
frontend_svelte/.svelte-kit/generated/server/internal.js
frontend_svelte/node_modules/
frontend_svelte/public/
frontend_svelte/package-lock.json
frontend_svelte/yarn.lock
frontend_svelte/.svelte-kit/
frontend_svelte/tmp/

backend_golang/tmp/
backend_golang/*.exe
backend_golang/*.exe~
backend_golang/*.dll
backend_golang/*.so
backend_golang/*.dylib
backend_golang/*.test
backend_golang/*.out
backend_golang/coverage.*
backend_golang/*.coverprofile
backend_golang/profile.cov
backend_golang/go.work
backend_golang/go.work.sum
backend_golang/.env

backend_php/definicoes.php


